/*********************************************************************/
/* General */
/*********************************************************************/
body {
	font-size: 10px;
	font-family: 'Imprima', sans-serif;
	color: rgba(255,255,255, 1);
	background: rgba(249, 177, 152, 1);
}

h1,h2 {font-family: 'Libre Baskerville', serif;}

.main {
	position: relative;
	min-width: 320px;
}
/*********************************************************************/
/* .mainHeader */
/*********************************************************************/
.mainHeader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 15px 10px;
	background-color: rgba(255,255,255, 1);
	background-image: url('../img/imgHeaderBackground.png');
	box-shadow: 0px 1px 2px rgba(0,0,0, 0.15);
	min-width: 320px;
	z-index: 10;
}

.mainHeader h1 {
	position: relative;
	overflow: hidden;
	margin: 0 auto 10px auto;
	width: 170px;
	height: 55px;
}

.mainHeader h1 span {
	position: absolute;
	top: -30px;
	opacity: 0;
}

.mainHeader h1 img {
	width: 100%;
}

.mainHeader nav {
	text-align: center;
}

.mainHeader nav a {
	display: inline-block;
	color: rgba(222, 147, 121, 1);
	padding: 7px;
	border-radius: 1px;
	background: transparent;
	text-transform:uppercase; 
	font-size: 1.4em;
	margin-right: 5px;
	transition: color 0.1s ease-in-out, background 0.3s ease-in-out;

}

.mainHeader nag a:last-child{margin-right: 0;}

.mainHeader nav a:hover,
.mainHeader nav a.active {
	color: rgba(255,255,255, 1);
	background: rgba(249, 177, 152, 1);
}

/*********************************************************************/
/* .content */
/*********************************************************************/
.content{
	position: relative;
	top: 130px;
}

.wrapper { 
	max-width: 520px;
	margin: 0 auto; 
	padding:20px;

}

.banner {display: none;}


.banner span {visibility: hidden;}

.content h2 {
	font-size: 2.6em;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	margin-bottom: 10px;
}

.content h3 {
	font-size: 1.8em;
	text-align: center;
	margin-bottom: 15px;
	display: block;
	line-height: 1.2em;
}

.content p {
	font-size: 1.5em;
	margin-bottom: 10px;
	line-height: 1.2em;
}

.content p:last-child {margin-bottom: 0;}

/*********************************************************************/
/* .contacts */
/*********************************************************************/

.contacts {margin-left: 14px;}

.contacts li {
	list-style: none;
	font-size: 1.5em;
	margin-bottom: 10px;
	position: relative;
	padding-left: 10px;
	line-height: 1.2em;
}

.contacts i {
	position: absolute;
	left: -14px;
	line-height: 1.2em;
}

.contacts span {
	display: block;
	margin-bottom: 3px;
}

.contacts span:first-child {
	padding-left: 0;
	display: inline-block;
	margin-bottom: 0;
}	

/********************************************/
/* Everybody has Media Queries :) */
/********************************************/

/********************************************/
/* .768px (iPad and more) */
/********************************************/
@media (min-width: 768px) {
/* Header */
.mainHeader nav a {
	padding: 10px;
	font-size: 1.5em;
	margin-right: 10px;
}

/* Content */
	.content {
		padding:0;
	}
	
	.wrapper {
	max-width: 720px;
	}
	
	.content h2 {
		font-size: 4.0em;
		}
	
	.content h3 {
		font-size: 2.4em;
		font-style: italic;
		line-height: 1.4em;
		margin-bottom: 30px;
	}	
		
	.content p {
		font-size: 1.8em;	
		line-height: 1.4em;
		margin-bottom: 15px;
		text-align: justify;
		}
	
	.banner { 
		display: block;
		height: 400px;
		margin-bottom: 20px;
		border-bottom: solid 2px rgba(0,0,0,0.02);
	}

/* Contacts */
	.contacts {margin-left: 20px;}
	
	.contacts li {
		font-size: 1.8em;
		margin-bottom: 15px;
		padding-left: 10px;
		line-height: 1.4em;
		transition: text 1s;
	}
	
	.contacts i {
		position: absolute;
		left: -18px;
		line-height: 1.4em;
	}

/* Imgs */
	.banner.index {background:url("../img/imgIndex.jpg") no-repeat scroll center -420px;}	
	.banner.contact {background:url("../img/imgContact.jpg") no-repeat scroll center -305px;}
	.banner.space {background:url("../img/imgSpace.jpg") no-repeat scroll center -700px;}	
	.banner.services {background:url("../img/imgServices.jpg") no-repeat scroll center -230px;}	
	
}	

